<p>categories-add works!</p>

<div>
    
    <form (ngSubmit)="onSubmit(f.value)" #f= "ngForm" >
        <p>
            <label for="nom">nom</label>
            <input type="text" id="nom" name="name" ngModel>
        </p>
        <p> 
            <label for="prenoms">description</label>
            <input type="text" id="description" name="description" ngModel>
        </p>
        <p> 
            <label for="image">image</label>
            <input type="file" id="image" name="image" ngModel>
        </p>
       
    
            <p><input type="submit"> Enregistrer</p>
    </form >
</div>
